/*h1{*/
/*text-align:center;*/
/*color: orangered;*/
/*}*/
body {
    background-image: url("http://cdn.wallpapersafari.com/69/71/kHjCSO.jpg");
}

/*andwecode.com styling*/
#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 80px;
    background: #FFF;
}

.container {

}

#modal_trigger {
    margin: 100px auto;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: x-small;
    text-align: left
}

#modal1_trigger {
    margin: 100px auto;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: x-small;
    text-align: left
}

.btn {
    padding: 10px 20px;
    background: #F4F4F2;
}

.btn_red {
    background: #ED6347;
    color: #FFF;
}

.btn:hover {
    background: #E4E4E2;
}

.btn_red:hover {
    background: #C12B05;
}

a.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}

a.btn_red {
    color: #FFF;
}

.one_half {
    width: 50%;
    display: block;
    float: left;
}

.one_half.last {
    width: 45%;
    margin-left: 5%;
}

/* Popup Styles*/
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}

.popupHeader .modal1_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}

.popupBody {
    padding: 20px;
}

/* Social Login Form */
/*.social_login {}*/
/*.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}*/
/*.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;}*/
/*.social_login .fb .icon {background:#3B5998;}*/
/*.social_login .google .icon {background:#DD4B39;}*/
/*.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}*/
/*.social_login .social_box:hover {background: #E4E4E2;}*/

.centeredText {
    text-align: center;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}

.action_btns {
    clear: both;
    overflow: hidden;
}

.action_btns a {
    display: block;
}

/* User Login Form */
.user_login {
    display: none;
}

.user_login label {
    display: block;
    margin-bottom: 5px;
}

.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_login input[type="checkbox"] + label {
    float: left;
}

.create_event {
    display: none;
}

.create_event label {
    display: block;
    margin-bottom: 5px;
}

.create_event input[type="text"], .create_event input[type="date"], .create_event input[type="time"], .create_event input[type="text"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.create_event input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.create_event input[type="checkbox"] + label {
    float: left;
}

.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}

/* User Register Form */
.user_register {
    display: none;
}

.user_register label {
    display: block;
    margin-bottom: 5px;
}

.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_register input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_register input[type="checkbox"] + label {
    float: left;
}

.user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

/*andwecode.com end*/
#currentday.currentmonth {
    border: 1px solid black;
    color: #ff1849;
    text-align: center;
    font-family: "Georgia";
}

.currentmonth {
    color: white;
    text-align: center;
    font-family: "Georgia";
    margin-top: -1.5%;
}

.currentmonths { /* This is so we don't hover over the month name. No hover: tag */
    vertical-align: top;
    margin-top: 0%;
    color: #ffffff;
    text-align: center;
}

#prev {
    float: left;
    font-size: 20px;
    border: none;
    color: aqua;
    background-color: black;
    border-radius: 100px;
    position: absolute;
    top: 55%;
    left: 10%;

}

#next {
    float: right;
    font-size: 20px;
    border: none;
    color: aqua;
    background-color: black;
    border-radius: 100px;
    position: absolute;
    right: 47%;
    top: 55%;

}

#logout {
    float: right;
    font-size: 10px;
    border: none;
    color: aqua;
    background-color: black;
    border-radius: 100px;
}


.currentday:hover, .currentmonth:hover {
    background-color: lightblue;
}

table.calendar td, table.calendar th {
    padding: 1em;
}

table.calendar {
    top: 10px;
    zoom: 1.3;
    float: left;
}

.weekdays {
    color: black;
    font-weight: 300;

}

#today {

    font-size: 20px;
    border: none;
    color: aqua;
    background-color: black;
    border-radius: 100px;
    /*right: 75%;*/
    /*bottom: 25%;*/
    position: absolute;
    left: 30%;
    bottom: 1%;
}

#eventTable {
    border: dashed;
    border-color: white;
    height: 50%;
    width: 30%;
    position: absolute;
    top: 20%;
    left: 60%;

}

#events {
    color: lightskyblue;
    font-size: large;
    font-weight: bold;
    vertical-align: top;

}